vec-add/build/*
*/build/*
Chapter02/02_memory_overview/01_sgemm/sgemm
Chapter02/02_memory_overview/02_vector_addition/vec_add
# Ignore all
# *

# Unignore all with extensions
#!*.*

# Unignore all dirs
#!*/

### Above combination will ignore all files without extension ###

#*.o
#*.nvvp
#*.pyc
#.DS_Store
#__pycache__
#*/build/*
#vec-add/build/*
#builds

#!Makefile
